---
layout: default
---

<article class="page">

{% if page.title == 'Group Members' %} 
  Welcome to the <b>Multi-agent Intelligence and Decision Systems (MINDS)</b> lab. Our goal is to incorporate analytical models of human decision making in the design of socio-technical networks and AI systems, to understand how the interactions of humans and/or AI agents with misaligned (economic) incentives and diverse reasoning capabilities can impact the performance, fairness, robustness, and security of these systems. We contribute to, and draw from, tools and methods in several disciplines, including network economics, game theory, machine learning, optimization, and control theory. Our work is generously supported by the <i>National Science Foundation (NSF)</i>, <i>Amazon</i>, and <i>Cisco</i>. 
  <br><br> 
  If you are a student interested in joining our group, please see <a href="/group/#prospective" color="$white">this note</a>.  
  {% endif %}

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>
